@model DndMassCombat.Models.ViewModels.GroupViewModel

<div class="container">
    <div class="row">
        <div class="col form-group">
            @Html.LabelFor(model => model.HitPoint, new {@class = "col-sm-4"})
            @Html.EditorFor(model => model.HitPoint, new {@class = "form-control"})
        </div>
    </div>
        
    <div class="row">
        <div class="col form-group">
            @Html.LabelFor(model => model.UnitCount, new {@class = "col-sm-4"})
            <input asp-for="UnitCount" readonly="readonly">
        </div>
    </div>
</div>