@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="container">
        <h1>Generic details</h1>
        <p>
            This page provide explanations on how the fights are handled. Please note that all units within a group must be the same.<br/>
            Each click on the <em>Attack</em> button simulates a D&D fight round. You can edit the group's <em>Hit point</em> or <em>Unit count</em> at any time to match the events in your battle (for instance, player attack so decrement <em>Hit point</em>).<br/>
        </p>
    </div>

    <div class="container">
        <h1>How are group fights handled?</h1>
        <p>For each unit in the attacking group, a unit fight is started against a random unit in the opponent group. The defending unit remains the same for each attacking unit in subsequent rounds.</p>
    </div>

    <div class="container">
        <h1>How are unit fights handled?</h1>
        <p>
            There are several steps:
        </p>
        <ul>
            <li>Attacking unit roll a D20 and add its <em>Hit Bonus</em>. This gives the scoring attack.</li>
            <li>If the scoring attack is strictly lower than opponent <em>Armor Class</em>, the hit is considered as missed and no damage will be done.</li>
            <li>If the scoring attack is greater or equal to the opponent <em>Armor Class</em>, <em>Damage</em> + <em>Damage bonus</em> will substracted to opponent group <em>Hit point</em>.</li>
        </ul>
    </div>

    <div class="container">
        <h1>How are fumble handled?</h1>
        <p>
            Fumble occurs when the 1st D20 roll result is 1. It means a big failure while trying to attack. In this case, the attacking unit hit is considered as missed.
        </p>
    </div>
    
    <div class="container">
        <h1>How are critical hits handled?</h1>
        <p>
            Critical hits occurs when the 1st D20 roll result is 20. It means a big success while trying to attack. In this case, the attacking unit hit is considered as a success.
        </p>
        <p>
            Damage will be computed as follow:
            <ul>
                <li>Compute Base damage = Maximum value of <em>Damage</em> + <em>Damage Bonus</em>.<br/></li>
                <li>Roll <em>Damage</em> dice. While result is maximum value of <em>Damage</em> dice, add Base damage value (i.e. : x2, x3, ...)</li>
                <li>When result is not maximum value of <em>Damage</em>, add <em>Damage</em> value + <em>Damage bonus</em></li>
            </ul>
        </p>
    </div>
    
    <div class="container">
        <h1>Contact</h1>
        <p>
            Please send an email to <a href="mailto:suboverflow@gmail.com">suboverflow@gmail.com</a>
        </p>
    </div>
</div>