@model DndMassCombat.Models.ViewModels.SimulationViewModel
@{
    ViewData["Title"] = "D&D - Group combat";
}
<div class="container">
    <h1 class="text-center">D&D - Group combat</h1>
    <br/>
</div>

<form asp-controller="Home" asp-action="Simulate" method="post" id="simulateForm">
    <div class="container">
        <div class="row">
            <div class="container col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="col form-group">
                            <h2>1st group - unit description</h2>
                        </div>
                    </div>
                </div>

                @{
                    ViewData["SubmitButtonText"] = "Attack 2nd group";
                          <partial name="Simulation/UnitDescription" for="UnitDescription1" view-data="ViewData" />
                }
                
            </div>

            <div class="container col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="col form-group">
                            <h2>2nd group - unit description</h2>
                        </div>
                    </div>
                </div>

                @{
                    ViewData["SubmitButtonText"] = "Attack 1st group";
                          <partial name="Simulation/UnitDescription" for="UnitDescription2" view-data="ViewData" />
                }
            </div>
        </div>
        
        <div class="row">
            <div class="container col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="col form-group">
                            <br/>
                            <h2>1st group - army</h2>
                        </div>
                    </div>
                </div>
                
                <partial name="Simulation/Group" for="Group1"/>
            </div>

            <div class="container col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="col form-group">
                            <br/>
                            <h2>2nd group - army</h2>
                        </div>
                    </div>
                </div>
                
                <partial name="Simulation/Group" for="Group2"/>
            </div>
        </div>
        
        <div class="row">
            <div class="container col-sm-12">
                <br/>
                <textarea class="logTextarea" readonly="readonly" asp-for="Description"></textarea>
            </div>
        </div>
    </div>
</form>